/* Estilos personalizados */

body > div > header > nav > div > ul > li{

    color: #fff;
    padding-top: 1.1rem;
    font-size: 1.3rem;
}

.marginstyle{
    margin-left: 40px;
  }
  
  .scroll {
    width: auto;
    height: auto;
    overflow: scroll;
  }
  
  .homeBoxx{
    height:200px;
  }
  
  .contact-menu{
    width: 0%; 
    height: 4px;
  }
  
  .contact-menu:hover{
    width: 100%; 
    height: 4px;
  
  }
  
  .baseinput{
    text-align:center; 
    display: none;
  }
  
  .cambioinput{
    text-align:center; 
    display: block;
  }
  
  .historialbox{
    max-width: 150px;
      margin: 0 auto;
    text-align: justify;
    width: auto;
    height: auto;
    overflow: scroll;
    
  }

  .layout .layout--modal{
    padding-top: 100px;
    padding-left: 
    
  }
  
  .page-mask{
    padding-top: 100px;
  }

  .mp-close-btn{
    padding-top: 100px;
  }

  #layout-modal{
    height: 100px;
    background-color: transparent;
    width: 50%;
  }